<div class="flex flex-row">

    <app-page-widgets 
    class="flex flex-row h-screen sticky bg-gray-100 p-0 m-0  md:w-full top-0 left-0">
    </app-page-widgets>

    <app-page-components 
    [pageId]="page.id"
    class="flex flex-col w-full   bg-slate-100 items-center">
    </app-page-components>


</div>
<!--
    <app-page-widgets 
    class="flex flex-row h-screen sticky bg-gray-100 p-0 m-0  md:w-3/4 top-0 left-0">
    </app-page-widgets>

    
     <div class="md:w-8/12 flex flex-col space-y-4 bg-white p-16 my-8">
        </div>
-->