<h1>Lead Magnet Pro</h1>

<div class="flex flex-col space-y-1 mx-4 ">

   <p class="text-white font-semibold p-4 ">Tablero de rendimiento</p>

   <p class="text-white font-semibold p-4 ">Páginas</p>

   <p class="text-white font-semibold p-4 ">Productos</p>

   <p class="text-white font-semibold p-4 ">Servicios</p>

   <p class="text-white font-semibold p-4 ">Articulos publicados</p>

   <p class="text-white font-semibold p-4 ">Automatizaciòn de marketing</p>

   <p class="text-white font-semibold p-4 ">Admin usuarios</p>

   <p class="text-white font-semibold p-4 ">Plantillas preferidas</p>

   <p class="text-white font-semibold p-4 ">Capacitaciones</p>

   <p class="text-white font-semibold p-4 ">Preguntas frecuentes</p>

 
</div>

