<div class="flex flex-col  h-full p-4">
    <div class="space-y-6">
        <p>Aprendizaje</p>
        <p>Pagina</p>
        <p>Componentes</p>
        <p>Elementos</p>
        <p>Tareas</p>
        <p>Requisitos</p>
    </div>
   
         

</div>

<div
class="flex flex-col  h-full bg-gray-800 p-2 text-sm" >

    <p class="my-4 text-white">Elementos</p>

    <div class="grid grid-cols-2  gap-2 ">
        <p class="p-10 border-white border-solid border-2 text-white">Titulo</p>
        <p class="p-10 border-white border-solid border-2 text-white">Texto</p>
        <p class="p-10 border-white border-solid border-2 text-white">Imagen</p>
        <p class="p-10 border-white border-solid border-2 text-white">Video</p>
        <p class="p-10 border-white border-solid border-2 text-white">Lista</p>
        <p class="p-10 border-white border-solid border-2 text-white">Icono</p>
        <p class="p-10 border-white border-solid border-2 text-white">Redes</p>
        <p class="p-10 border-white border-solid border-2 text-white">Formulario</p>
        <p class="p-10 border-white border-solid border-2 text-white">Encuesta</p>
        <p class="p-10 border-white border-solid border-2 text-white">Grafica</p>
    </div>

</div>

