
<div class=" w-full flex flex-col md:flex-row m-0">

    <div class="sm:w-full md:w-8/12 lg:w-4/12 bg-sky-600  flex flex-col p-0 m-0 text-white">

        <img class=" hidden md:block md:w-full h-min "

         src="../../../../assets/website-design1.jpg" alt="">

         <div class="flex flex-col space-y-4 justify-center text-center p-12">

            <p>Created to help you grow</p>

            <p class="text-2xl">Create easily wonderfull pages and colaborate with your team </p>

            <button class="rounded bg-pink-500 text-white px-4 py-2 ">Use owr demo and try openBuilder</button>
            
         </div>

    </div>

    <div class="w-full   flex flex-col  md:h-screen ">  

        <div class=" flex justify-center md:justify-end  md:pr-12 space-x-6  md:space-x-4  pt-4  pb-12 md:pb-0  ">

            <p> Create an account</p>

            <p> Don't have an account? </p> 

        </div>

        <div class="w-full flex flex-col justify-center items-center bg-white h-full space-y-4 ">
                      
            <form novalidate class="space-y-4 w-10/12  md:w-5/12" >


                <h1 class="font-bold text-2xl" >Sign in in Open Builder</h1>

                <p class="pb-8 text-gray-800 md:text-gray-500">Enter your identification</p>

                <div>
                    <label for="email" *ngIf="!loginData.emailError">Email</label>
                    <label for="email" *ngIf="loginData.emailError" class="text-red-700">Enter your Email</label>
                </div>

                <input
                id="email"
                placeholder="Enter email"
                type="email"
                class="w-full py-3 rounded bg-gray-100 border-gray-300 border-2"
                [(ngModel)]="loginData.email"  [ngModelOptions]="{standalone: true}"
                />

                <div class="flex flex-row justify-between">
                    <div>
                        <label for="password" *ngIf="!loginData.passError">Password</label>
                        <label for="password" *ngIf="loginData.passError" class="text-red-700">Please enter your password</label>
                    </div>
                    <p>Don't remember?</p>
                </div>

                <input
                id="password"
                placeholder="Enter password"
                type="password"
                class="w-full py-3 rounded bg-gray-100 border-gray-300 border-2 "
                [(ngModel)]="loginData.password" [ngModelOptions]="{standalone: true}"
                />

                <button (click)="toLogin()"
                class="rounded px-8  py-4 text-white font-bold text-lg  mt-4 w-full
                bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500
                "
                >
                    Log in
                </button>

                <div>
                    <p>Enter with social media account</p>
                </div>


                <button (click)="toLoginWithGoogle()"
                class="rounded px-8  py-4 text-white font-bold text-lg  mt-4 w-full
                bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500
                "
                >
                    Enter with Google
                </button>

                <button (click)="toLogin()"
                class="rounded px-8  py-4 text-white font-bold text-lg  mt-4 w-full
                bg-gradient-to-r from-cyan-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500
                "
                >
                    Enter with Facebook
                </button>

            </form>



        </div>

    </div>
    

</div>