
<div class="w-full flex m-0 ç ">

    <div class="w-4/12 bg-sky-600  flex flex-col p-0 m-0 text-white">

        <img class="w-full h-min "
         src="../../../../assets/5553ef310fb0f4a52c8ed204990684da.png" alt="">

         <div class="flex flex-col space-y-4 justify-center text-center p-12">

            <p>With a click</p>

            <p class="text-2xl">Create easily wonderfull pages and colaborate with your team </p>

            <button class="rounded bg-pink-500 text-white px-4 py-2 ">Use owr demo and try openBuilder</button>
            
         </div>

    </div>

    <div class="w-full   flex flex-col  h-screen ">

        

        <div class="flex justify-end    pr-12  space-x-4  pt-4   ">

            <p> Create an account</p>

            <p> Don't have an account? </p> 

        </div>

        <div class="w-full flex flex-col justify-center items-center bg-white h-full space-y-4 ">
                      
            <form novalidate class="space-y-4  w-5/12">

                <img src="../../../../assets/logo123456.png" class="w-6/12 mb-8" alt="">

                <h1 class="font-bold text-2xl" >Sign in in Open Builder</h1>

                <p class="pb-8 text-gray-500">Enter your identification</p>

                <label for="email">Email</label>

                <input
                id="email"
                placeholder="Enter email"
                type="email"
                class="w-full py-3 rounded bg-gray-100 border-gray-300 border-2"
                />

                <div class="flex flex-row justify-between">
                    <label for="password">Password</label>
                    <p>Don't remember?</p>
                </div>

                <input
                id="password"
                placeholder="Enter password"
                type="password"
                class="w-full py-3 rounded bg-gray-100 border-gray-300 border-2 "
                />

                <button class="bg-blue-100 rounded px-8  py-4 ">
                    Log in
                </button>

            </form>



        </div>

    </div>
    

</div>