<p (click)="toTittleBuilder()" class="p-10 border-white border-solid border-2 text-white" >
    Titulo
</p>

<p (click)="toInitCreator()" 
class="p-10 border-white border-solid border-2 text-white">
Texto</p>

<p (click)="toInitCreator()" 
class="p-10 border-white border-solid border-2 text-white">
Image
</p>

<p (click)="toInitCreator()" 
class="p-10 border-white border-solid border-2 text-white">
    Video
</p>

<p (click)="toInitCreator()" 
class="p-10 border-white border-solid border-2 text-white">
Lista
</p>

<p class="p-10 border-white border-solid border-2 text-white">Icono</p>
<p class="p-10 border-white border-solid border-2 text-white">Redes</p>
<p class="p-10 border-white border-solid border-2 text-white">Formulario</p>
<p class="p-10 border-white border-solid border-2 text-white">Encuesta</p>
<p class="p-10 border-white border-solid border-2 text-white">Grafica</p>